body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #dedede;
}

#page
{
	margin-top: 0;
	margin-bottom: 5px;
	background: #dedede;
}

#header
{
	background: #468898;
	margin: 0;
	padding: 0;
	color: white;
}

#content
{
	min-width: 870px;
    background-color: white; 
    margin: 0 25px;
    border: 2px solid #ccc;
    border-top: none;
    -webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
    padding: 25px 40px;
    -moz-box-shadow:  0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:  0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#sidebar
{
	padding: 0 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
}

#logo
{
	padding: 10px 20px;
	font-size: 150%;
	float: left;
}

#notifications
{
	padding: 10px 20px;
	font-size: 200%;
	float: right;
}

#mainmenu
{
	background: #666;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	-webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.5);
	z-index: 99;
}

#mainmenu #searchdiv
{
	float: left;
}

#mainmenu #search
{
	width: 130px;
	padding-left: 25px;
	background: white url("../images/view.png") no-repeat 3px;
}

#mainmenu ul
{
	padding: 7px 15px 5px 10px;
	margin:0px;
	min-width: 1000px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#mainmenu ul
	{
		padding: 9px 20px 5px 10px;
		margin:0px;
	}
}

#mainmenu ul li
{
	background-color:transparent !important;
	border: 0 !important;
	padding:0 !important;
	display: inline;
}

#mainmenu ul li a
{
	font-size: 8pt;
	font-weight: bold;
	color: #fff;
	background-color: #666;
	text-decoration:none;
	border: 3px solid #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px 2px rgba(30, 30, 30, .5);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(30, 30, 30, .5);
	box-shadow: 0px 0px 3px 2px rgba(30, 30, 30, .5); 
	padding: 3px 12px;
	margin: 0 5px;
}

#mainmenu ul li.last a
{
	font-size: 8pt;
	color: #fff;
	background-color: #550000;
	text-decoration:none;
	border: 3px solid #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px 2px rgba(30, 30, 30, .5);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(30, 30, 30, .5);
	box-shadow: 0px 0px 3px 2px rgba(30, 30, 30, .5); 
	padding: 4px 12px;
	margin: 0 5px 0 40px;
}

#mainmenu ul li.last a:hover
{
	margin: 0 5px 0 40px;
}

#mainmenu ul li.active a, #mainmenu ul li.active a:hover
{
	font-size: 8pt;
	color: #444;
	background-color: #c4e1e8;
	text-decoration:none;
	border: 3px solid #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 4px 2px rgba(30, 30, 30, .7);
	-webkit-box-shadow: inset 0px 0px 4px 2px rgba(30, 30, 30, .7);
	box-shadow: inset 0px 0px 4px 2px rgba(30, 30, 30, .7); 
	padding: 5px 12px;
	margin: 0 5px; 
}

#mainmenu ul li a:hover
{
	font-size: 8pt;
	color: #444;
	background-color: #c4e1e8;
	text-decoration:none;
	border: 3px solid #555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 3px 2px rgba(30, 30, 30, .6);
	-webkit-box-shadow: inset 0px 0px 3px 2px rgba(30, 30, 30, .6);
	box-shadow: inset 0px 0px 3px 2px rgba(30, 30, 30, .6); 
	padding: 4px 12px;
	margin: 0 5px;
}

#mainmenu ul li.dir ul 
{
	background-color:#666666;
	-webkit-border-bottom-right-radius: 7px !important;
	-webkit-border-bottom-left-radius: 7px !important;
	-moz-border-radius-bottomright: 7px !important;
	-moz-border-radius-bottomleft: 7px !important;
	border-bottom-right-radius: 7px !important;
	border-bottom-left-radius: 7px !important;
}

#mainmenu ul li.dir ul li
{
	line-height: 1.6em;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #db8f2d;
    margin: 0 0 15px 0;
}

.portlet-decoration
{
	padding: 5px 10px;
	background: #ebb052;
	border-bottom: 2px solid #db8f2d;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.portlet-title
{
	font-size: 14pt;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: white;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	background:#CAE1E7;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 10px;
}

.operations li a
{
	font: bold 11pt Arial;
	color: #1C6246;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #1C6246;
}

.operations li a:hover
{
	background: #b6c6ca;
}


.dash-portlet-header {
    margin: 0.3em 0.3em 0.9em 0.3em!important;
}

.filters td
{
	text-align: center;
}

td input
{
	margin: 0 auto;
	padding: 2px 0;
	width: 100% !important;
	-webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px; 
}

.header
{
	font-size: 14pt;
	color: white;
	padding: 5px 150px 5px 10px;
	border: 2px solid #db8f2d;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: -2px 2px 5px #DDD;
    -webkit-box-shadow: -2px 2px 5px #DDD;
    box-shadow: -2px 2px 5px #DDD;
	background: #ebb052;
	margin: 0 0 15px 0;
	display: inline-block;
}

.grid-view table.items th {
    background: #cae1e7 !important;
    border: 1px solid #cae1e7 !important;
}

.grid-view table.items th a {
    color: #1c6246 !important;
}

.grid-view table.items td {
    border: 1px solid #dedede !important;
    padding: 0.5em !important;
}

.grid-view table.items tr.odd {
    background: none repeat scroll 0 0 #efefef !important;
}

.grid-view table.items tr.even {
    background: none repeat scroll 0 0 #fff !important;
}

.add
{
	color: #468898;
	cursor: pointer;
}

.delete
{
	color: red;
	padding-right: 10px;
	cursor: pointer;
	font-size: 90%;
	font-weight: bold;
}

.jqueryError
{
	color: red;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid red;
	background: white;
}

.jqueryOk
{
	color: green;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid green;
	background: white;
}

.dash-portlet
{
	min-height: 250px !important;
	margin: 0.8em 1em 1.4em 0 !important;
}

.dash-portlet-header
{
	margin-bottom: 5px !important;
	text-shadow: 1px 1px 1px rgba(130, 130, 130, 0.8) !important;
}

.dash-portlet-content
{
	font: 10pt Arial !important;
	padding: 5px 15px !important;
}

#myPlanning
{
	min-width: 680px;
	margin-top: 3%;
}

#myPlanning td
{
	min-width: 12px;
	min-height: 8px;
	padding: 3px 0;
}

#myPlanning tr.headerPlanning td
{
	font: 7.5pt Arial;
	font-weight: bold;
	text-align: center;
}

#myPlanning td.day
{
	text-align: center;
	border: 1px solid #999;
}

#myPlanning td.holiday
{
	background: #ebebeb;
	color: red;
}

#myPlanning td.roomName
{
	text-align: right;
	padding-right: 10px;
}

#myPlanning td.roomDay
{
	text-align: center;
	border: 1px solid #999;
	cursor:pointer;
	
}

#myPlanning td.roomDay:hover
{
	background: #d8d8d8;
}

#myPlanning td.roomDayBooked
{
	text-align: center;
	border: 1px solid #999;
	cursor:pointer;
	background: red;
}

#myPlanning td.roomDayBooked.close
{
	background: #888;
}

#myPlanning #monthName
{
	font: 20pt Arial;
	text-align: center;
	margin: 10px 0;
	padding: 0;
}

#myPlanning #monthName a
{
	font-size: 15pt;
	color: #666;
	text-decoration: none;
	padding: 0 15px;
}

.contextMenu
{
	background: #333;
	color: white;
	border: 1px solid #999;
	padding: 5px 15px;
	display: none;
	position: absolute;
}

.contextMenu p
{
	margin: 10px 0;
	cursor: pointer;
}

.grid-view span.empty 
{
  font-size: 14pt !important;
  margin: 25px 10px 15px 10px !important;
}

table
{
	border-collapse: collapse;
}

table td
{
	padding: 10px;
}

table .supertitle
{
	font-size: 16pt;
	font-weight: bold;
	text-align: left;
}

table .title
{
	width: 10%;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
}

table .content
{
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
}

table.borderer td
{
	border: 1px solid #333;
	padding: 10px;
}

.deleteExtra{
	color: red;
	cursor: pointer;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 10px;
}

.deleteDiscount{
	color: red;
	cursor: pointer;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 10px;
}

.deleteCharge{
	color: red;
	cursor: pointer;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 10px;
}


/*
 * Widgets */
 
.grid-view .filters input, .grid-view .filters select {
	width: 100% !important;
	min-height: 25px !important;
    padding: 4px 5px 4px 25px !important;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    border: 2px solid #999999;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 2px 0 #DDDDDD inset;
    background: url("../images/view.png") no-repeat 5px center !important;
    background-size: auto 75% !important;
}